html, body {
	height: 100%;
	font-family: Segoe UI;
}

body {
	background-image: url("../assets/Background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper-table {
	margin-top:100px;
	margin-bottom: 100px;
	width:80%;
	margin-left:auto;
	margin-right:auto;

}

.project-table {
	border-radius: 1rem;
	background-color: white;
	text-align: center;
}

th {
	background-color:#362F4B;
	border-color: black;
	color:white;
}

#th-first {
		border-radius: 16px 0px 0px 0px;
}

#th-last {
		border-radius: 0px 16px 0px 0px;
}


.idInput {
	border-radius: 1rem;
	border-color: white;
	border-width:0;
	text-align:center;
}

input:focus {
	outline:none;
}

::placeholder {
	color:lightgray;
}


.submit-button {
	border-radius: 1rem;
	border-width:0;
	text-align:center;
	float:right;
	color:white;
	background-color: #8A30E1;
	padding:8px;
	padding-right: 40px;
	padding-left: 40px;
	font-size:80%;
}

.tablinks {
	background-color: Transparent;
	background-repeat:no-repeat;
	color: white;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.tab {
	background-color: rgba(0, 0, 0, 0.692);
}
